<html>
  <body>
    Hello {{ name }}!<br>
    Hello {{ name }}!<br>
    Hello {{ name }}!<br>
    Hello {{ name }}!<br>
    Hello {{ name }}!<br>
    {{ 'Hello'|trans }} {{ name }}!<br>
	<div>
  <p>{{ 'message'|trans }}</p>
  <button>{{ 'cancel'|trans }}</button>
  <button>{{ 'validate'|trans }}</button>
</div>
  </body>
</html>